{% extends 'base.html' %}

{% block 'main' %}

{% load static %}

<div class="container-fluid  text-white ">
    <div class="row px-xl-5">

        <!-- Products Section Start -->

        {% for x in processor %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="card product-item border-2 mb-4">
                <div class="card-header  product-img position-relative overflow-hidden bg-transparent border p-2 p-0 d-flex align-items-center justify-content-center"
                    style="height: 400px;">
                    <img src="{{x.card_img.url}}" class="img-fluid" alt="Processor">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4">
                    <h6 class="text-truncate mb-3">{{x.card_name}}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>Rs.{{x.price}}</h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="/processordetails/{{ x.id }}" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-eye text-primary mr-1"></i>View
                        Detail</a>
                    <a href="/addtocart2/{{x.id}}" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Repeat similar product items as needed -->
    </div>
</div>




{% endblock 'main' %}